<li [ngClass]="
    {'list-group-item': true,
      'list-group-item-success': loveIts > 0,
      'list-group-item-danger': loveIts < 0
    }">
    <div class="d-flex justify-content-between align-items-center">
        <h2>{{ title }}</h2>
        <p style="font-size: 1.2rem; font-style: italic;">{{ created_at | date: 'short' }}</p>
    </div>
    <p>{{ content }}</p>

    <!-- LIKE BUTTON -->
    <button class="btn btn-success" (click)="like()" style="margin-right: 2px;">
        <i class="glyphicon glyphicon-thumbs-up" style="vertical-align: middle;"></i>
        <span>Love it!</span>
    </button>

    <!--  DISLIKE BUTTON -->
    <button class="btn btn-danger" (click)="disLike()">
        <i class="glyphicon glyphicon-thumbs-down" style="vertical-align: middle;"></i>
        <span>Don't love it!</span>
    </button>

</li>